.contant {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.svg_Part {
	width: 700px;
	margin-left: 10%;

	svg {
		width: 800px;
		height: 800px;
	}
}

.sing {
	position: relative;
	width: 450px;
	box-shadow: 10px 10px 10px 5px rgba(187, 187, 189, 0.87);
	background: #fff;
	padding: 50px 40px;
	margin: 3% auto 5%;
	text-align: center;
	align-items: center;
	justify-content: center;

	h1 {
		color: rgb(9, 87, 231);
		margin-top: 5%;
		margin-bottom: 10%;
		border-bottom: 1px solid #e0e0e0;
	}

	h2 {
		text-align: left;
		color: #5f5f5f;
	}

	h4 {
		color: #909090;
		text-align: left;
	}

	a {
		text-decoration: none;
		color: rgb(2, 2, 2);
	}

	h5 {
		color: #1b1b1b;

		a {
			color: rgb(110, 110, 110);
		}
	}

}

.em {
	border-radius: 10px;
	padding: 14px 10px;
	margin: 20px auto;
	width: 300px;
	height: 45px;
	color: rgba(51, 51, 51, 0.829);
	transition: 0.25s;
	border: 2px solid #717475bb;
	outline: none;

	&:focus {
		width: 350px;
		border-color: rgb(9, 87, 231);
	}
}

.fb {
	color: #fff;
	width: 60%;
	height: 40px;
	padding: 10px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
	color: white;
	border-radius: 2px;
	border: 2px solid rgb(108, 99, 255);
	background-color: rgba(59, 123, 241, 0.877);
	color: #fff;

	&:hover {
		background-color: white;
		color: black;
	}
}

.si {
	color: #fff;
	width: 70%;
	height: 40px;
	padding: 10px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
	color: white;
	border-radius: 2px;
	border: 2px solid rgb(108, 99, 255);
	background-color: rgb(13, 75, 190);
	margin-top: 40px;

	&:hover {
		background-color: white;
		color: black;
	}
}

hr {
	margin-top: 20px;
	width: 80%;
}

.or {
	background: #f8f9fa;
	margin: -28px auto 10px;
	width: 30px;
}

@media screen and (max-width:768px) {
	.sing {
		box-shadow: 0 0 0 0;
	}

	.svg_Part {
		display: none;
	}
}